body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  margin: 20px 0 20px 0;
}

.dataWrapper {
  display: flex;
  flex-direction: row;
}

.dataWrapper > div:first-child {
  flex-grow: 2;
}

.dataWrapper > div:nth-child(2) {
  flex-grow: 1;
}

#ampel {
  padding: 10px;
  background-color: gray;
  margin-left: 100px;
  width: 70px;
}

#green_light {
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#green_light.enabled {
  background-color: green;
}

#yellow_light {
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

#yellow_light.enabled {
  background-color: yellow;
}

#red_light {
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

#red_light.enabled {
  background-color: red;
}
