body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1{
  margin: 20px 0 20px 0;
}

label {
  margin: 10px 0;
  font-size: 18px;
}

.hidden {
  display: none;
}

.dataWrapper {
  display: flex;
  flex-direction: row;
}

.dataWrapper > div:first-child {
  flex-grow: 2;
  margin-right: 40px;
}

.dataWrapper > div:nth-child(2) {
  flex-grow: 1;
}

@media (max-width: 800px) {
  .dataWrapper {
    flex-direction: column-reverse;
  }

  .dataWrapper > div:first-child {
    margin-right: 0;
  }

  .container {
    max-width: None;
    padding: 0 30px;
  }
}